<h1>Pages#answer</h1>
<p>Find me in app/views/pages/answer.html.erb</p>

<div>
<h2 class="question">  <%= params[:query] %> </h2>
<p> - You </p>
</div>

<div>
<h2  class="question">  <%= @answer %> </h2>
<p> - Your Coach </p>
</div>
